/*
  Create the hobbies page styling
*/

.hobbies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-template-rows: 300px auto auto;
  color: white;
  text-align: center;
}

#keyboards .hobby-card-front {
  box-shadow: inset 0 0 50px 50px rgba(156, 114, 0, 0.35);
  background: url("../images/jules.jpg");
  background-size: cover;
  background-position: center;
}

#photography .hobby-card-front {
  box-shadow: inset 0 0 50px 50px rgba(57, 156, 0, 0.35);
  background: url("../images/e&g.jpg");
  background-size: cover;
  background-position: center;
}

#cars .hobby-card-front {
  box-shadow: inset 0 0 50px 50px rgba(0, 88, 156, 0.35);
  background: url("../images/bmw-2.jpg");
  background-size: cover;
  background-position: center;
}

.hobby-card {
  border-radius: 1rem;
  text-align: center;
  position: relative;
  perspective: 1000px;
}

.hobby-card-inner {
  border-radius: 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  border: 1px solid lightgray;
}

.hobby-card-front.corner {
  cursor: cursor;
}

.hobby-card-front::after {
  content: "FLIP";
  color: white;
  font-size: 11px;
  padding: 4px;
  display: block;
  width: 65px;
  height: 65px;
  position: absolute;
  right: -40px;
  bottom: -40px;
  background: rgba(0, 0, 0, 0.75);
  transform: rotate(-45deg);
  transition: 0.5s;
}

.hobby-card-front:hover::before {
  opacity: 0;
}

.hobby-card-front, .hobby-card-back {
  border-radius: 1rem;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.hobby-card:hover .hobby-card-inner {
  transform: rotateY(180deg);
  transition: all 0.5s ease;
}

.hobby-card-front {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 2vw;
  font-weight: bold;
}

.hobby-card-title {
  opacity: 1;
  transition: all 0.5s ease;
}

.hobby-card:hover .hobby-card-title {
  opacity: 0;
  transition: all 0.5s ease;
}

.hobby-card-back {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  font-size: 1vw;
  font-weight: normal;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: all 0.5s ease;
}
