@import "fonts.css";
@import "contact.css";
@import "hobbies.css";
@import "navigation.css";
@import "media-queries.css";

/*
  Create the main styling
*/

* {
  box-sizing: border-box;
  font-family: 'Roboto', arial, sans-serif;
  text-decoration: none;
}

body {
  background-color: #eee;
  margin: 0;
  padding: 0;
  --main-width: 95vmin;
}

.murgic-logo {
  font-family: 'Cabin-Sketch', serif;
  font-size: 2rem;
  margin: 0.5rem;
  color: white;
}

.main {
  margin: 1em auto;
  width: var(--main-width);
  padding: 1rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
  background: white;
}

.main h1 {
  text-align: center;
}
