@import "contact.css";

/*
  List out all of the fonts of the website
*/

@font-face {
  font-family: 'Cabin-Sketch';
  src: url('../fonts/Cabin_Sketch/CabinSketch-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}


/*
  Create the main styling
*/

* {
  box-sizing: border-box;
  font-family: 'Roboto', arial, sans-serif;
  text-decoration: none;
}

body {
  background-color: #eee;
  margin: 0;
  padding: 0;
}

.murgic-logo {
  font-family: 'Cabin-Sketch', serif;
  font-size: 2rem;
  margin: 0.5rem;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  font-size: 14px;
  color: white;
  padding: 1rem;
  display: block;
  font-weight: bold;
}

.navbar-links li a:hover {
  color: #ff7070;
  background-color: #555;
}

.current-page a {
  color: #e33232 !important;
}

#menu-toggle {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

#menu-toggle .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 1rem;
}

@media (max-width: 660px) {
  #menu-toggle {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

/*
  Create the contact styling
*/

.main {
  max-width: 1080px;
  margin: 25px auto !important;
  padding: 25px;
  float: none !important;
  border: #c9c9c9 1px solid;
  border-radius: 1rem;
}

.main h1 {
  text-align: center;
}

.main form {
  margin: 10px;
}

.main form input {
  margin: 10px;
}

.contact-card {
  width: 600px;
  height: 500px;
  margin: 1rem auto !important;
  border: 1px solid lightgray;
  background: white;
  border-radius: 1rem;
  padding: 2rem;

  /* Initialize grid */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  /* Create four rows.
   The first two and the last will fill the available space,
   while the 3rd row (message) is set at 150px */
  grid-template-rows: 1fr 1fr 150px 1fr;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-container {
  /* Span both columns */
  grid-column: span 2;
}

.button-container {
  /* Span both columns */
  grid-column: span 2;
  margin: 1.25rem 0 0 0;
}

.text-container textarea, .input-container input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0 0 0.2rem 0;
  overflow: visible;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  border: 2px solid darkgrey;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%
}

.text-container textarea {
  resize: none;
}

.text-container textarea:focus, .input-container input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgb(255, 209, 209, 0.5);
}

.contact-card label {
  padding-bottom: 0.25rem;
  font-weight: 600;
}

.button-container input {
  background-color: #e33232 !important;
  border-width: 0;
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
}

.button-container input:hover {
  border-color: darkred;
}

.button-container input:focus {
  outline: none;
  border-color: darkred;
  color: lightcoral;
  box-shadow: 0 0 0 0.125em rgb(255, 209, 209, 0.75);
}